* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: #11182e;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1.6rem;
}

.box-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgb(100, 99, 99);
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.btn-boring {
  padding: 1.8rem 4.8rem;
  color: rgba(255, 255, 255, 0.9);
  background: transparent;
  cursor: pointer;
  border-radius: 0.8rem;
  border: solid 1px rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3rem;
}
